doctype html

- let ti = 1

html(lang='en')
  head
    title LessPass

    meta(charset='utf-8')
    meta(name='viewport'   , content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#fff')
    meta(name='description', content='PWA for LessPass.')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Ubuntu+Mono:wght@700&display=swap')
    link(rel='manifest'  , href='manifest.webmanifest')

  body
    noscript
      style.
        body {
          overflow: hidden;
        }
        h1, p {
          font-family: Roboto, sans-serif;
        }
        a {
          text-decoration: underline;
        }

      h1 Sorry, but this application requires Javascript.
      p
        | If you'd like to know more about LessPass for Web before trying it out,
        | you can check out its #[a(href='https://github.com/71/lesspass-pwa') code]
        | on GitHub.

    mixin text-field(inputType, inputId, inputLabel)
      .mdc-text-field.mdc-text-field--outlined(class=(inputType === 'number' || inputType === 'password' ? ['mdc-text-field--with-trailing-icon'] : []))
        if inputType === 'number'
          i.drag-number.mdc-text-field__icon
            svg(viewbox='0 0 24 24', width=24, height=24, style='vertical-align: middle')
              path(d='M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z')
        if inputType === 'password'
          i.toggle-password.mdc-text-field__icon
            svg(viewbox='0 0 24 24', width=24, height=24, style='vertical-align: middle')
              path.show(d='M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z')
              path.hide(d='M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z')

        input.mdc-text-field__input(type=inputType, id=inputId, tabindex=ti++)&attributes(attributes)
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label(for=inputId)= inputLabel
          .mdc-notched-outline__trailing

    mixin chip(check = false)
      button.mdc-chip(type='button', tabindex=ti++)
        if check
          span.mdc-chip__checkmark
            svg.mdc-chip__checkmark-svg(viewbox='-2 -3 30 30')
              path.mdc-chip__checkmark-path(fill='none', stroke='black',
                                            d='M1.73,12.91 8.1,19.28 22.79,4.59')
        span.mdc-chip__text
          block

    mixin chip-set()
      .mdc-chip-set&attributes(attributes)
        block

    mixin paper()
      form.paper&attributes(attributes)
        block

    mixin opener()
      .opener.mdc-ripple-surface
        h3
          block

        svg(viewbox='0 0 24 24', role='presentation')
          path(d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z')

    main
      section#result
        .result-view
          b.letter#letter-1
          b.letter#letter-2
          b.letter#letter-3
          b.letter#letter-4

          .parts
            .part.out#part-1
            .part.out#part-2
            .part.out#part-3

          .result-container
            span#generated-password

      section#inputs
        +paper
          +text-field('text', 'website', 'Website')(inputmode='url', autocomplete='off')
          +text-field('text', 'username', 'Username')(inputmode='email', autocomplete='off')
          +text-field('password', 'password', 'Master password')(autocomplete='current-password')

      section#options
        +paper.active
          +opener Options

          .both-inputs
            +text-field('number', 'length', 'Length')(pattern='[0-9]+', min=6, max=35)
            +text-field('number', 'counter', 'Counter')(pattern='[0-9]+', min=1, max=100)

          +chip-set.mdc-chip-set--filter#charsets
            +chip(true) abc
            +chip(true) ABC
            +chip(true) 123
            +chip(true) $#&

      section#adv-options
        +paper
          +opener Advanced options
          +text-field('number', 'iterations', 'Iterations')(pattern='[0-9]+', min=1000, max=1000000)

          +chip-set.mdc-chip-set--choice#algorithm
            +chip AES256
            +chip AES512

    .mdc-snackbar#copy-snackbar
      .mdc-snackbar__surface
        .mdc-snackbar__label(role='status', aria-live='polite') Password copied.
